<div ng-include="'components/navbar/navbar.html'"></div>

<div id="map_canvas" ng-controller="MapsCtrl">
    <script type="text/ng-template" id="searchbox.tpl.html">
        <input type="text" input id="pac-input" placeholder="Search Box">
    </script>


    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
        <ui-gmap-search-box template="searchbox.template" events="searchbox.events"></ui-gmap-search-box>
        <ui-gmap-marker ng-repeat="m in markers" coords="m.coords" idkey="m.id" options="m.options">
        </ui-gmap-marker>
    </ui-gmap-google-map>
    <button class="btn btn-submit" ng-click="findMe()">Find Me</button><br/><br/>
    <br/>
</div>
