html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

/* Top global nav bar*/
.navBar {
  display: none;
}

/* Full screen map*/
.angular-google-map-container { 
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

/* Search Style*/
.form-container {
  position: absolute;
  z-index: 2;
  width: 600px;
}
#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
  right: 0;
}
#pac-input:focus {
  border-color: #4d90fe;
}