/*.angular-google-map-container {
  margin-top: 110px;
  height: 400px;
  display: flex;
  vertical-align: center;
}

.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#map_canvas {
  margin: 125px auto 0;
  width: 800px;
}
*/
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

/* Top global nav bar*/
.navBar {
  display: none;
}

/* Full screen map*/
.angular-google-map-container {
  width:50%;
  height:50%;
  position: absolute;
  top: 0; right: 0; bottom: 0;
  width: 88%;
  height: 100%;
  transition: width 1s;
}

/* map-ui-style */
.map-ui-style {
  position: absolute;
  top: 0; left: 0;
  width: 20%;
  padding: 1%;
  background: #B3D1FF;
  border: 1px solid black;
  height: 100%;
  transition: left 1s;
}

.left-minus {
  left: -20%;
}

/* Form style */
.form-container {
}

  .title {
    margin:0;
    padding: 0;
    text-align: center;
    background: tomato;
    margin-bottom: 10px;
  }

  label {
    font-size: 14px;
  }

  input {
    height: 20px;
    display: block;
    margin:0;
    padding: 0;
  }

  .space-top {
    margin-top: 10px;
  }
  .space-right {
    margin-right: 10px;
  }
/* Chat style */
.info-chat-container {
}

.label-style {
  font-size: 14px;
  font-weight: bold;
}

/* Button Style */
.btn-container {
}

/* Search Style*/
#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 145px;
  text-overflow: ellipsis;
  width: 300px;
  height: 30px;
  margin-bottom: 10px;
  padding:0;
  transition: margin 1s;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  margin-top: -16%;
}

.gui-slider {
  position: absolute;
  top: 45%;
  left: 20%;
  transition: left 1s;
}
.left-zero {
  left: 0;
}

.container {
  width: 80%;
}

#gmap-nav {
  position: absolute; 
  z-index: 5;
  top: 0;
  width: 80%;
  left: 20%;
  background: white;
  /*top: -50px;*/
  transition: top 1s;
}

.gmap-logo {
  width:5%;
  float: left;
  margin-top: 10px;
}
.gmap-button-group{
  width: 220px;
  float: right;
}

.gmap-button-group span {
  display: inline-block;
  margin: 0 5px;
  margin-top: 13px;
  float: right;
}

.fa.fa-cog{
  margin-top: 5px !important;
}
.navbar-right div{
  display: inline-block;
  margin: 5px 10px;
  margin-top: 13px;
}
.gmap-find-me {
  position: absolute;
  bottom: 20px;
  left: 21%;
  transition: left 1s;
}
































/* Styling of chat window done in client/rooms/rooms.css*/
@media screen and (max-width: 600px){
  .map-ui-style {
    top: 70%;
    width: 100%;
    left: 0;
  }
}

select {
  min-width:50px;
  
}
