.all-rooms {

}

.room {

}

.start-a-midup input {
  height: auto !important;
}

.chat-box {
  margin: 0 auto;
  width: 90%;
  height: 400px;
  border: 1px solid #3d3d3d;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.chat-input-submit {
  margin: 5px auto;
  width: 90%;
}

.chat-input-submit textarea {
  width: 90%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.info-chat {
  margin: 50px 0 0 0;
}
