<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container" data-ng-controller="roomsCtrl" data-ng-init="init()">
  <div class="profile-margin-top"></div>
  <div class="row carousel-team owl-carousel owl-theme owl-responsive-1200 owl-loaded profile-top">
    <div class="row">
      <h3>My MidUps</h3>

      <div class="col-sm-8">
        <div class="all-rooms" >
          <h4>Enter One of Your MidUps</h4>
          <div class="room" ng-repeat="room in rooms">
            <a href="/mymidups/{{room.roomId}}">{{room.name}}</a>
          </div>
        </div>

      </div>
      <div class="col-sm-4 well start-a-midup">
        <h4 class="no-top-margin">Start a MidUp</h4>
        <span>What could be worse than trying to figure out where to meet up? Create a MidUp and meet in the middle. </span>
        <div ng-hide="editorEnabled">
          <button class="btn btn-default" ng-click="enableEditor()">Create MidUp</button>
        </div>
        <div ng-show="editorEnabled">
          <input ng-model="editableText" ng-show="editorEnabled" cols="15" rows="1"><br>
          <a href="#" ng-click="createRoom()">Save</a>
          or
          <a href="#" ng-click="disableEditor()">Cancel</a>
        </div>



      </div>
    </div>
    <hr>



  </div>
</div>

