<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container" data-ng-controller="roomsCtrl" data-ng-init="init()">
  <div class="profile-margin-top"></div>
  <div class="row carousel-team owl-carousel owl-theme owl-responsive-1200 owl-loaded profile-top">
    <div class="row">
      <h3>My MidUps</h3>

      <div class="col-sm-8">
        <div class="all-rooms">
          <h4>Enter One of Your MidUps</h4>

          <div class="room" ng-repeat="room in rooms" ng-mouseover="">
            <a class="midup-links" href="/mymidups/{{::room.roomId}}">{{::room.name}}</a>

            <span class="invite-people" ng-hide="inviteEnabled(room.roomId)">
              <button class="btn btn-default" ng-click="enableInvite(room.roomId)">Invite People</button>
            </span>
            <div ng-show="inviteEnabled(room.roomId)">
              <form name="emailCaptureForm" role="form" ng-submit="emailCaptureForm.$valid && sendEmailInvites(room.roomId, room.name)" novalidate>
                <span class="instructions-emails">Input a comma-separated list of emails to invite to this MidUp</span>
                <input ng-model="inviteEmails[room.roomId]" ng-show="inviteEnabled(room.roomId)"
                       ng-pattern="/^(\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*\s*[,;]?\s*\b)*$/"
                       name="emailCapture" class="email-input" ng-keyup="keyUp()" required>
                <input type="submit" value="Send Invites" class="btn send-invites" ng-click="clicked()">
                or
                <a href="#" ng-click="disableInvite(); emailCaptureForm.$setPristine()">Cancel/Close</a><br>
                <ng-messages for="emailCaptureForm.$valid">
                  <ng-message when="pattern" ng-if="emailCaptureForm.$submitted && !emailCaptureForm.$valid && !!clickedFlag" class="ng-message-commas">
                    Please make sure you have entered emails correctly and have a comma separating each one.
                  </ng-message><br>
                  <ng-message ng-if="emailCaptureForm.$submitted && emailCaptureForm.$valid && !!clickedFlag"
                              class="ng-message-sent">
                    Submitted Successfully.
                  </ng-message><br>
                </ng-messages>

              </form>
              <!--<div ng-if="errorOrResponse">-->
                <!--Please make sure you have entered emails correctly and have a comma separating each one.-->
                <!--&lt;!&ndash;error messages or "invitations successfully sent"&ndash;&gt;-->
              <!--</div>-->

            </div>
            <hr>
          </div>
        </div>

      </div>
      <div class="col-sm-4 well start-a-midup">
        <h4 class="no-top-margin">Start a MidUp</h4>
        <span>What could be worse than trying to figure out where to meet up? Create a MidUp and meet in the middle. </span>

        <div ng-hide="editorEnabled">
          <button class="btn btn-default" ng-click="enableEditor()">Create MidUp</button>
        </div>
        <div ng-show="editorEnabled">
          <input ng-model="editableText" ng-show="editorEnabled" cols="15" rows="1"><br>
          <a href="#" ng-click="createRoom()">Save</a>
          or
          <a href="#" ng-click="disableEditor()">Cancel</a>
        </div>


      </div>
    </div>


  </div>
</div>

