.all-rooms {

}

.room {

}

.start-a-midup input {
  height: auto !important;
}

.chat-box {
  height: 150px;
  border: 1px solid #3d3d3d;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow-y: scroll;
  scrollbar-face-color: #336699; scrollbar-3dlight-color: #336699; scrollbar-base-color: #336699;
  scrollbar-track-color: #336699; scrollbar-darkshadow-color: #000; scrollbar-arrow-color: #000;
  scrollbar-shadow-color: #fff; scrollbar-highlight-color: #fff;
}

.chat-input-submit {
  margin-top: 5px;
}

.chat-input-submit textarea {
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.info-chat-container {
}


.chatUserName {
  color: #0000ff;
  font-weight: 600;
}

.message-date {
  font-style: italic;
  font-size: 0.9em;
}

.place-select {
  width: 200px;
  overflow:scroll;
  overflow-x:hidden;
  overflow-y: scroll;
  height: 50px;
}

#selectPlaces {
    overflow:scroll;
    overflow-x:hidden;
    overflow-y: scroll;
}

