<!--<script src="app/google-maps/map.js"></script>
<script src="bower_components/lodash/dist/lodash.min.js"></script>
<script src="bower_components/lodash/dist/lodash.js"></script>
<script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
<script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
<script src="bower_components/angular-google-maps/dist/angular-google-maps.min.js"></script>-->
<div ng-include="'components/navbar/navbar.html'"></div>

<!-- <body ng-controller="ExampleController">
   <div class="page-title">
        <h2>angular-google-maps: <span ng-cloak>{{version}}</span>, google-maps: <span ng-cloak>{{googleVersion}}</span></h2>
    </div>
</body> -->

<!-- <header class="hero-unit" id="banner">
  <div class="container">
    <h1>Meet Me In The Middle!</h1>
    <p class="lead">An application to determine the midpoint between two users.</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
    </p>
  </form>
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
 -->

     <section id="header" class="parallax">

      <!-- FOR COLOR OVERLAY, CHANGE CLASS TO color-overlay -->
      <div class="overlay">
          <div class="container">
              <div class="row">

                  <!-- HEADER CONTENT -->
                  <div class="header-cont col-md-12 header-centred">

                      <!-- MARGIN FROM TOP -->
                      <div class="header-margin-more"></div>

                      <!-- HEADER TEXT -->
                      <header class="anim-fade-down">

                          <!-- HEADER TITLE -->
                          <h1>

                              <!-- SMALL TITLE -->
                              <span class="header-txt-small">Find the Perfect Place</span><br/>

                              <!-- REGULAR TITLE -->
                              to <span class="header-txt-color">MidUp</span>

                          </h1>

                          <!-- SUBTITLE -->
                          <h3>with your PEEPS</h3>

                      </header>

                      <!-- HEADER BUTTONS -->
                      <div class="buttons-cont">

                          <!-- DOWNLOAD BUTTON -->
                          <div class="btn btn-lg btn-success anim-bounce-left">
                            <a href="/maps">

                                <!-- ICON -->
                                <span class="elegant icon_star_alt"></span>

                                <!-- BUTTON TEXT -->
                                Let's Get Started

                            </a>
                          </div>

                          <!-- LEARN MORE BUTTON -->
                          <div class="btn btn-lg btn-info anim-bounce-right">
                            <a href="#about">

                                <!-- ICON -->
                                <span class="elegant arrow_carrot-2down"></span>

                                <!-- BUTTON TEXT -->
                                Learn more

                            </a>
                          </div>

                      </div>

                  </div>

              </div>
          </div>
      </div>
    </section>
<!-- =========================
     ABOUT
============================== -->
    <section id="about">

      <!-- SECTION TITLE -->
      <h2 class="anim-fade-up">

          <!-- MAIN TITLE -->
          Our App in a snapshot<br/>

          <!-- SUBTITLE -->
          <span></span>

      </h2>

      <!-- ABOUT CONTAINER - TEXT ALIGN TO RIGHT -->
      <div class="about-cont bg-grey about-to-right">
          <div class="container">
              <div class="row">

                <!-- ABOUT TEXT SECTION -->
                <div class="col-md-6">

                  <!-- ABOUT TITLE -->
                  <h3 class="anim-from-left">Interactively decide where to meet in seconds</h3>

                  <!-- ABOUT DESCRIPTION -->
                  <p class="anim-from-left">No more worries on deciding where to meet. MidUp finds the closest meet up place of your choice within seconds. </p>
                  <p class="anim-from-left">Just login, type in your current location, and send invites to friends. How many friends? as many as you want! we will look at your friends current location and find the shortest route between all of your friends.</p>

                </div>

                <!-- ABOUT IMAGE -->
                <div class="col-md-6 about-img">

                    <!-- PLACE YOUR ABOUT IMAGE BELOW -->
                    <img src="assets/images/about/01.png" class="anim-from-right" alt>

                </div>

              </div>
          </div>
      </div>

      <!-- ABOUT CONTAINER - TEXT ALIGN TO LEFT -->
      <div class="about-cont">
          <div class="container">
              <div class="row">

                <!-- ABOUT IMAGE -->
                <div class="col-md-6 about-img">

                    <!-- PLACE YOUR ABOUT IMAGE BELOW -->
                    <img src="assets/images/about/02.png" class="anim-from-left" alt>

                </div>

                <!-- ABOUT TEXT SECTION -->
                <div class="col-md-6">

                  <!-- ABOUT TITLE -->
                  <h3 class="anim-from-right">Works on all devices. Phones and even smart watches.</h3>

                  <!-- ABOUT DESCRIPTION -->
                  <p class="anim-from-right"> Really? maybe. Where ever you are, we will find new a new location on the run.</p>
                  <p class="anim-from-right">Are you in a hurry to schedule a place for your business meetings? We have you covered! Just turn on our app, invite your business partners, that's it you've just found and booked the place!</p>

                </div>

              </div>
          </div>
      </div>

    </section>
<!-- =========================
     TEAM
============================== -->
    <section id="team" class="caption-margin">

      <!-- SECTION TITLE -->
      <h2 class="anim-fade-down">

          <!-- TITLE -->
          Made by Hack Reactor students<br/>

          <!-- SUBTITLE -->
          <span>with passion</span>

      </h2>

      <!-- TEAM CAROUSEL -->
      <div class="container anim-fade-up">
          <div class="row carousel-team" id="carousel-team">

              <!-- TEAM MEMBER 1 -->
              <div class="col-md-12 team-member">

                <!-- AVATAR -->
                <img class="avatar" src="assets/images/avatars/jonah.jpg" width=100 height=100 alt>

                <!-- SOCIAL MEDIA LINKS -->
                <p class="socialmedia">
                    <a href="https://github.com/jnis77diver" target="_blank"><span class="fa fa-github"></span></a>
                    <a href="http://www.jonahnisenson.com/" target="_blank"><span class="fa fa-male"></span></a>
                    <a href="https://www.linkedin.com/in/jonahnisenson" target="_blank"><span class="fa fa-linkedin"></span></a>
                </p>

                <p class="personal">
                    <!-- NAME -->
                    Jonah Nisenson
                    <!-- OCCUPATION -->
                    <span>Full-stack engineer</span>

                </p>
              </div>

              <!-- TEAM MEMBER 2 -->
              <div class="col-md-12 team-member">

                <!-- AVATAR -->
                <img class="avatar" src="assets/images/avatars/jordan.jpg" width=100 height=100 alt>

                <!-- SOCIAL MEDIA LINKS -->
                <p class="socialmedia">
                    <a href="https://github.com/jgenung" target="_blank"><span class="fa fa-github"></span></a>
                    <a href="http://jordangenung.azurewebsites.net/" target="_blank"><span class="fa fa-male"></span></a>
                    <a href="https://www.linkedin.com/in/jordangenung" target="_blank"><span class="fa fa-linkedin"></span></a>
                </p>

                <p class="personal">
                    <!-- NAME -->
                    Jordan Genung
                    <!-- OCCUPATION -->
                    <span>Full-stack engineer</span>
                </p>
              </div>

              <!-- TEAM MEMBER 3 -->
              <div class="col-md-12 team-member">

                <!-- AVATAR -->
                <img class="avatar" src="assets/images/avatars/rioa.jpg" width=100 height=100 alt>

                <!-- SOCIAL MEDIA LINKS -->
                <p class="socialmedia">
                    <a href="https://github.com/RioaM" target="_blank"><span class="fa fa-github"></span></a>
                    <a href="http://rioamattsson.com/" target="_blank"><span class="fa fa-female"></span></a>
                    <a href="http://www.linkedin.com/in/rioam" target="_blank"><span class="fa fa-linkedin"></span></a>
                </p>

                <p class="personal">
                    <!-- NAME -->
                    Rioa Mattsson
                    <!-- OCCUPATION -->
                    <span>Full-stack engineer</span>
                </p>
              </div>

              <!-- TEAM MEMBER 4 -->
              <div class="col-md-12 team-member">

                <!-- AVATAR -->
                <img class="avatar" src="assets/images/avatars/seunghoon.png" width=100 height=100 alt>

                <!-- SOCIAL MEDIA LINKS -->
                <p class="socialmedia">
                    <a href="https://github.com/imskojs" target="_blank"><span class="fa fa-github"></span></a>
                    <a href="http://sublimejs.com" target="_blank"><span class="fa fa-male"></span></a>
                    <a href="https://www.linkedin.com/in/imskojs" target="_blank"><span class="fa fa-linkedin"></span></a>
                </p>

                <p class="personal">
                    <!-- NAME -->
                    Seunghoon Ko
                    <!-- OCCUPATION -->
                    <span>Full-stack engineer</span>
                </p>
              </div>
          </div>
      </div>
    </section>
      <h2 class="anim-fade-up" style="background: #333; padding: 100px 0; margin-bottom: 50px">

          <!-- MAIN TITLE -->
          <a href="/maps">Let's get started</a><br/>

          <!-- SUBTITLE -->
          <span></span>

      </h2>

      <footer>
      <div class="container anim-fade-up">

          <!-- CREDITS - HELP US SPREAD THE LOVE :-) -->
          <div class="col-sm-3 col-xs-12 hidden-xs"><a href="http://themeforest.net/user/ViventeThemes">Product of Hack Reactor</a></div>

          <!-- SOCIAL MEDIA -->
          <div class="col-sm-6">

            Continuous learning and coding for life

          </div>

          <!-- COPYRIGHT -->
          <div class="col-sm-3 col-xs-12">© 2015 all rights reserved.</div>

      </div>
    </footer>

    <script>
      smoothScroll();
      themeScript();
    </script>

