.profile-about-me h3 {
  display: inline-block;
}

.profile-about-me button {
  float: right;
}

.profile-image-div {
  width: 300px;
  height: 225px;
  overflow: hidden;
}

.profile-image-div img {
  max-width: 62%;
}

.profile-margin-top {
  width: 100%;
  margin-top: 9%;
}
